html, body{
    margin:0;
    padding:0;
    background-color: rgb(243, 242, 242);
}
nav{
    height:50px;
    width:100%;
    position: fixed;
    top:0;
    z-index:1000;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:50px;
    background-color:rgb(235, 232, 232);
}
li{
    font-size:1.6em;
    height:100%;
    display: block;
    line-height: 50px;
    border-right: black solid 1px;
    width:20%;
    position:relative;
}
li a::before{
    content:"";
    right:50%;
    left:50%;
    bottom:-1px;
    position:absolute;
    background: grey;
    height:2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
li a:focus::before, li a:active::before, li a:hover::before{
    left:30%;
    right:30%;
}
li a{
    text-decoration: none;
    color:grey;
    display:block;
    text-align:center
}
#more{
    border-right: none;
}
.div2{
    width:45%;
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    background-color:rgb(235, 232, 232);
    padding-left:5px;
    transition-property:transform;
    transition-duration:0.3s;
}
h1{
    font-size:6em;
    font-family: sans-serif;
}
p{
    font-size:1.2em;
}
.div3{
    width:45%;
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    background-color:rgb(235, 232, 232);
    text-align: right;
    padding-right:5px;
    margin-bottom:6%;
    transition-property:transform;
    transition-duration:0.3s;
}
#triangle{
    height:0;
    width:0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 100px solid grey;
    transform:rotate(-90deg);
    align-self: center;
}
#commandMe{
    user-select: none;
    margin-bottom: 14%;
}
#aboutMe{
    user-select: none;
    margin-right:5%;
    margin-bottom:9%;
}
#carre{
    height:120px;
    width:120px;
    background-color:grey;
}
#grosseDiv1{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
    align-items:center;
    margin-top:10%;
}
#grosseDiv2{
    display:flex;
    flex-flow:row-reverse wrap-reverse;
    justify-content:space-around;
    align-items:center;
    margin-top:26%;
}
h1::after{
    content:"";
    display:block;
    width: 0%;
    height:5px;
    background-color:grey;
    transition-property:width;
    transition-duration:0.3s;
}
h1:hover::after,h1:active::after{
    width:100%;
}
.div2:hover,.div3:hover{
    transform:scale(1.1);
}
@media all and (max-width:1200px){
    #aboutMe{
        margin-right:0;
        margin:initial auto;
    }
    .div2{
        width:90%;
    }
    #commandMe{
        margin:initial auto;
        text-align:center
    }
    .div3{
        width:90%;
    }
}
